<div class="container-fluid mt-1 p-3">
    <div class="d-flex justify-content-between bd-highlight">
        <div class="p-1 ms-5 bd-highlight logo">ClearTrip</div>
        <div class="p-1 me-5 bd-highlight">
            <button type="button" class="btn btn-primary px-2">Login/SignUp</button>
        </div>
    </div>
    <div class="container w-75 p-2 shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link active d-flex flex-column" routerLinkActive="active" routerLink="/hotels">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/000/627/396/small_2x/illust58-5847-01.jpg" alt="" width="60" height="60">
                            <span>Hotels</span>
                        </a>
                      </li>
                  <li class="nav-item bg-light">
                    <a class="nav-link  d-flex flex-column" routerLinkActive="active" routerLink="/flights">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdbLKqWLTs8CeGuqxTcNWE_lrJNeq88WY9Tg&usqp=CAU" alt="" width="60" height="60">
                        <span>Flights</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active">
                        <img src="https://www.shutterstock.com/image-vector/simple-homestay-logo-vector-illustration-600w-1613102341.jpg" alt="" width="60" height="60">
                        <span>HomeStays</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active">
                        <img src="https://image.similarpng.com/very-thumbnail/2020/09/Hand-drawn-train-logo-on-transparent-background-PNG.png" alt="" width="60" height="60">
                        <span>Trains</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active">
                        <img src="https://c8.alamy.com/comp/2HD3H7A/isolated-side-view-big-bus-logo-design-vector-graphic-symbol-icon-sign-illustration-creative-idea-2HD3H7A.jpg" alt="" width="60" height="60">
                        <span>Buses</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active">
                        <img src="https://t4.ftcdn.net/jpg/04/52/62/85/360_F_452628530_OTpLq7hVGpB38fryf2Dcf3mV7uNnI7fC.jpg" alt="" width="60" height="60">
                        <span>Cabs</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBIhfcCG56mGZzbjXTysDQbWoyx8_11eQLRgZ6pZv-zyNdRBhxqJw1NEU_hNLsCqAU-Lo&usqp=CAU" alt="" width="60" height="60">
                        <span>Holiday Packages</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyQx8pcC62j061aaPs2j5Y9culjnZUJf2dVw&usqp=CAU" alt="" width="60" height="60">
                       <span>Travel Insurance</span> 
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
</div>